.headerContainer,
.rightHeader,
.leftHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader {
  padding: 0.5em;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
}

.additionalOptions {
  background-color: white;
}

.rightHeader {
  width: 60%;
  font-size: 12px;
}

.leftHeader {
  font-size: 10px;
  width: 30%;
  justify-content: space-around;
}

.logoImage {
  object-fit: cover;
  object-position: 20% 0%;
  width: 50px;
  height: 40px;
}

.rightHeaderItem {
  font-weight: bolder;
  position: relative;
}

.rightHeaderItem::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.rightHeaderItem:hover::after {
  transform: scaleX(1);
}

.rightHeaderItem:hover,
.leftHeaderItem:hover {
  cursor: pointer;
}

.additionalFromWebsite,
.additionalFromAbelton {
  margin: 1em 0;
}

.innerAdditionalFromWebsite {
  display: flex;
  justify-content: flex-start;
}

.innerAdditionalFromWebsite p {
  margin-right: 1em;
}

.innerAdditionalBlocks {
  display: flex;
  justify-content: space-between;
}

.additionalBlock {
  width: 30%;
}

.navLink {
  text-decoration: none;
  color: black;
}

.bookmarkCount {
  position: relative;
}

.miniCartContainer {
  position: absolute;
  bottom: -420px;
  left: -220px;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  background-color: white;
  z-index: 99;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
