.bookMarkListContainer {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  padding: 2em;
  grid-gap: 4em;
}
.bookmarkContainer {
  transition: box-shadow 0.3s ease;
  padding: 1em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2em;
  justify-items: center;
}

.bookmarkPageImage {
  height: 200px;
  width: 100%;
  border-radius: 30px;
  grid-column: 1/2;
  grid-row: 1/3;
}

.bookmarkContainer:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.bookmarkPageItemViewButton {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 50%;
  border-radius: 30px;
  margin-bottom: 2em;
}

.bookmarkPageItemRemoveButton {
  width: 100%;
}

.checkoutContainer {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.checkoutButton {
  flex: 1;
  margin-left: 1em;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bolder;
}

.checkoutButton:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: red;
  cursor: pointer;
}

.disabledButton:hover {
  cursor: not-allowed;
  background-color: transparent;
}
